body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}

#container {
    display: flex;
}

#sidebar {
    width: 250px;
    background-color: #34A853; /* Grüne Seitenleiste */
    color: white;
    padding: 15px;
}

.profile img {
    width: 100%; /* Stellen Sie sicher, dass Ihr Bild quadratisch ist für beste Ergebnisse */
    border-radius: 50%;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

#main-content {
    flex-grow: 1;
    background-color: #FFF;
    padding: 20px;
}

#dark-mode-toggle {
    background: #555;
    color: #fff;
    border: none;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}

.dark-mode {
    background-color: #333;
    color: #fff;
}

.dark-mode #sidebar {
    background-color: #555;
}

.dark-mode #main-content {
    background-color: #222;
}

/* Anpassen von Links, Buttons, etc. für den Dunkelmodus */

/* Sie müssen Medienabfragen hinzufügen, um Responsivität zu gewährleisten. */

/* Und viele weitere Stile, um Elemente genau wie im Beispielbild zu gestalten. */
